<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test runner" parallel="classes" thread-count="1">
  <test verbose="2" name="Default test">
    <classes>
      <!--class name="Tests.LandingPageTests" />
      <class name="Tests.HelpPageTests" />
      <class name="Tests.FavoritesPageTests" />
      <class name="Tests.FAQPageTests" />
      <class name="Tests.SendBugReportPageTests"/-->
      <class name="Tests.SignUpPageTests"/>
      <class name="Tests.MobileVerPageTests"/>
    </classes>
  </test> <!-- Default test -->
</suite> <!-- Default suite -->